
<input #loQueDiceMama type="text">
<button (click)="mamaHabla(loQueDiceMama.value)">Mama habla</button>

<h4>Lo que manuelito ha recibido</h4>
<p>{{manuelito | async}}</p>

<h4>Lo que Cris ha recibido</h4>
<p>{{cris | async}}</p>

<button (click)="obtenerImagen()">Obtener imagen</button>
<pre>{{datos | json}}</pre>
<pre>{{error | json}}</pre>